body {
    line-height: 1.7;
    margin: 1em;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    background-color:#f7f7f7;
}

.holder {
    max-width: 728px;
    margin: 0 auto;
    padding: 3em 0 1em;
}

.holder-top {
    padding-top: 0;
}

.holder-clean {
    border-bottom: 0;
    padding-bottom: 0;
}

.notification {
    background: #edffed;
    padding: .6em 1em;
    border: 1px solid #cddfcd;
}

.notification--highlight {
    background: #ffd;
    border-color: #eec;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
    height: auto;
}


/**
 * Links
 */

a {
    text-decoration: underline;
    cursor: pointer;
    color: #0089ec;
}
a:focus {
    outline: 2px dotted #000;
}

.link-inherit {
    color: inherit;
    text-decoration: none;
}


.link-anchor {
    position: absolute;
    margin-left: -28px;
    font-weight: bold;
    text-decoration: none;
    color: #444;
}

.link-anchor:hover {
    color: #0089ec;
}

h1 .link-anchor {
    font-size: .6em;
    margin-top: 16px;
}

body {
    font-weight: 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
    line-height: 1.25;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child {
    margin-top: .33em;
}

h1 {
    line-height: 1.5;
    font-size: 2.5em;
}


.underline-highlight {
    border-bottom: 4px solid #0089ec;
}

h3 .underline-highlight {
    border-bottom-width: 3px;
    padding-bottom: 1px;
}

pre,
code {
    font-family: 'Monaco', 'Consolas', 'Liberation Mono', monospace;
    padding: 1px 3px;
    border: 1px solid #e9ebeb;
    background-color: #f5f8f8;
    font-size: .9em;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

pre {
    overflow-x: auto;
    padding: 1em;
    font-size: 1em;
}

pre > code {
    display: table;
    line-height: 1.5;
    border: 0;
    background: none;
    padding: 0 4.2em 0 0;
}

.demo > div > *{
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
}

.colors span{
    display: inline-block;
    margin-right: 10px;
    height: 16px;
    width: 16px;
    border-radius: 16px;
    background: #4095D7;
    cursor: pointer;
}

span.orange{
    background-color: #ff7700;
}

span.green{
    background-color: #5ba525;
}

span.yellow{
    background-color: #ffcc33;
}

span.red{
    background-color: #ec6231;
}

.result{
    margin: 0 20px;
    font-size: 16px;
}

.button{
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    vertical-align: top;
    cursor: pointer;
    background-color: #F8F8F8;
    background-image: -webkit-linear-gradient(top, #F8F8F8 0, #D4D4D4 100%);
    background-image: linear-gradient(to bottom, #F8F8F8 0, #D4D4D4 100%);
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 2px;
    padding: 7px 0;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, .4), 0 1px 2px rgba(0, 0, 0, .05);
    text-decoration: none;
}

.list-inline {
    margin: 2em 0;
    padding: 0;
    list-style: none;
}
.list-inline > li {
    margin-right: .5em;
    float: left;
}

.button-pill {
    text-decoration: none;
    background: #aaa;
    color: #fff;
    font-size: .75em;
    padding: 3px 6px 2px;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
.button-pill:hover {
    background: #0089ec;
}


.input-clear {
    width: 2em;
    height: 2em;
    line-height: 2em;
    background: #ccc;
    color: #fff;
    text-align: center;
    position: absolute;
    top: .75em;
    right: .75em;
    display: inline-block;
    text-decoration: none;

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.input-clear:hover {
    background: #666;
}


.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}


/* My styles */

.switchGroupTitle {
    margin: 0 0 -0.6em 10px;
}

.switchesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    border: 1px dotted #ddd;
    padding: 15px 5px 5px 5px;
    margin: 0 0 15px 0;
}

fieldset {
    position: relative;
    border: 0;
    margin: 5px;
    padding: 0;
}

.switchesContainer fieldset span {
    display: block;
    text-align: center;
}